@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Chào";
}

<div class="col-lg-12">
    <div class="grid">
        <p class="grid-header">Xin chào, @Session["userFullName"]</p>
    </div>
</div>